body {
  text-align: center;
  background-color: #FEF2BF;
}

#game-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #011F3F;
}

#highest-score{
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  font-size: 1.5rem;
}


.container {
  display: block;
  width: 50%;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.btn {
  display: inline-block;
  border: 10px solid black;
  border-radius: 20%; 
  width: 250px;
  height: 250px;
}

.mobile-btn {
  border: none;
  color: Black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5%;
  border-radius: 161px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 2px solid black;
  visibility: hidden;
}


@media (max-width: 1000px){
  .btn{
       width: 150px;
       height: 150px;
   }

   .mobile-btn-vis {
    visibility: visible;
   }

   #game-title{
    visibility: hidden;
   }



  
}

.levels{
  display: inline-block;

}

.level-btn{
  
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 50px;
  margin: 5%;
  border-radius: 161px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  border: 5px solid black;
}

#beginner{
  background-color: #00D775; /* Green */

}

#intermediate{
  background-color: #fa6400; /* Green */

}

#expert{
  background-color: #e62143; /* Green */

}

.game-over{
  background-color: red;
  opacity: 0.8;
}

.red {
  border-radius: 0 250px 0 0;
  background-color: rgba(196, 196, 196, 1);
  background-color: red;
}

.green {
  border-radius: 250px 0 0 0;
  background-color: rgba(196, 196, 196, 1);
  background-color: green;
}

.blue {
  border-radius: 0 0 250px 0px;
  background-color: rgba(196, 196, 196, 1);
  background-color: blue;
}

.yellow {
  border-radius: 0 0 0 250px;
  background-color: rgba(196, 196, 196, 1);
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
